*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.hero_section{
    background: url(images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 60vh;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding:16px 48px;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar_menu_container{
    display: flex;
    gap: 20px;
}
.user_icon{
    height: 30px;
    width: 30px;
    display: none;
    align-items:center;
    justify-content:center;
    border-radius: 100%;
    border: solid 1px white;
}

.hero_section_container{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: calc(60vh-60px);
}
.hero_section_logo{
    width: 220px;
    height: auto;
}
.hero_section_title{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}
.hero_section_input_container{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10;
    width: 50%;
    border-radius: 10px;
}
.input_container_location,
.input_container_search{
   padding: 5px;
   border: none;
   outline: none;
}
.input_container_location{
    width: 35%;
    border-right: 2px solid #e0e0e0;
}.input_container_search{
    width: 65%;
}



.container{
    margin: 3rem auto ;
    width: 90%;
}
.we_offer{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    align-items: center;
    justify-content: center;
}
.we_offer_card{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease;

}
.we_offer_card:hover{
    transform: scale(1.05);
}
.we_offer_card img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-fit: center;
     
}
.we_offer_content{
    padding: 10px;
}
.we_offer_content h2{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}
.we_offer_content p{
    font-size: 12px;
    letter-spacing: 2px;
}



.collection h1{
    font-weight: 600;
}
.collection .sub_heading_container{
    font-size: 15;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.sub_heading_container span:nth-child(2){
    color:#ff7e8b ;
    font-size: 13px;
    cursor: pointer;
}
.collections_card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1.5rem;
}
.collections_card_container >.card{ 
    /* A direct child( > ) is a child element that comes immediately below the parent in terms of hierarchy */
    height: 320px;
    min-width: 240px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;

}
.card1{
    background-image: url('images/collection1.jpg');
}
.card2{
    background-image: url('images/collection2.jpg');
}
.card3{
    background-image: url('images/collection3.jpg');
}
.card4{
    background-image: url('images/collection4.jpg');
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.9)0%,
        rgba(0,0,0,0.05)50%,
        rgba(0,0,0,0.05)85%
    );
}
.collections_card_container .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.9rem;
}
.collections_card_container .card .content h4{
    font-weight: 400;
    letter-spacing: 0.5px;
}




.get_the_app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,251,247);
    width: 100%;
    padding: 3rem 6rem;
}
.get_the_app .semiContainer{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.get_the_app .semiContainer .left{
    flex:2
}
.get_the_app .semiContainer .left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.get_the_app .semiContainer .right{
    flex: 3;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 10px;
    /* background-color: #ff7e8b; */
}
.get_the_app .semiContainer .right h1{
    font-weight: 400;
    font-size: 2rem;
}
.get_the_app .semiContainer .right p{
    font-size: 0.8rem;
}
.get_the_app .semiContainer .right .radio_buttons_container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.get_the_app .semiContainer .right .radio_buttons_container div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100x;
}
.get_the_app .semiContainer .right .radio_buttons_container div input{
    height: 15px;
    width: 15px;
    accent-color:rgb(239,79,95) ;
}
.get_the_app .semiContainer .right .input_container{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.input_container button,
.input_container input{
    padding: 10px 12px;
}
.input_container input{
    flex: auto;
    border: 1,5px solid gray;
    outline: none;
    border-radius: 5px;
}
.input_container button{
    border: none;
    background-color: rgb(239, 79, 95);
    border-radius: 5px;
    cursor: pointer;
}
.right .download_app_container{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.download_app_container h5{
    font-weight: 400;
    color: gray;
}
.download_app_container div{
    display: flex;
    gap: 1rem;
}
.download_app_container div img{
    width: 35%;
}




.footer{
    width: 100%;
}
.footer_section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    gap: 2.5rem;
}
.footer_section1 img{
    width: 120px;
}
.section1_button_container{
    display: flex;
    gap: 1rem;
}
.section1_button_container button{
    padding: 5px;
    width: 90px;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.navigation_container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 90%;
    margin: auto;
    gap: 1rem;
    padding: 3rem 0rem;
}
.link_container{
    display: flex;
    flex-direction: column;
    gap: 5rpx;
}
.link_container h5{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
}
.link_container .footer_link{
    text-decoration: none;
    color: gray;
    font-size: 13px;
    font-weight: 300;
}
.link_container .footer_link:hover{
    color: black;
}
.social_link_container{
    display: flex;
    gap:0.5rem ;
}
.social_link_container button{
    background-color: black;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_link_container i{
    color: white;
    font-size: 13px;
    cursor: pointer;
}
.footer_section_logos{
    width: 100%;
}

.disclamer{
    width: 90%;
    margin: auto;
    color: gray;
    font-size: 12px;
    border-top: 1px solid gray;
    padding-top: 1.5rem;
}




@media only screen  and (max-width: 600px){
    .navbar_menu_container .user_icon{
        display: flex;
    }
    .navbar_menu_container .link{
        display: none;
    }
    .navbar{
        padding: 16px 16px;
    }
    .hero_section{
        height: 80vh;
    }
    .hero_section_input_container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        gap: 10px;
    }
    .input_container_location,
    .input_container_search{
        padding:15px ;
        border-radius: 10px;
        width: 95%;
    }
    .hero_section_container{
        height: calc(80vh-60px);
    }
    .hero_section_title{
        width: 95%;
        font-size:20px ;
    }
}
@media only screen  and (max-width: 1300px){
    .get_the_app .semiContainer .right,
    .get_the_app .semiContainer .left{
        flex: 1;
    }
    .get_the_app .semiContainer{
        width: 80%;
    }
}
@media only screen  and (max-width: 900px){
    .get_the_app{
        padding: 2rem;
    }
    .get_the_app .semiContainer{
        width: 90%;
    }
}
@media only screen  and (max-width: 700px){
    .get_the_app{
        padding: 3rem 0rem;
    }
    .get_the_app .semiContainer{
        width: 80%;
        flex-direction: column;
    }
}

@media only screen  and (max-width: 900px){
    .navigation_container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen  and (max-width: 600px){
    .navigation_container{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen  and (max-width: 400px){
    .navigation_container{
        grid-template-columns: 1fr;
    }
}